body {
  font-family: 'News Cycle', sans-serif;
}
.container {
  border-radius: 10px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 80%;
  margin:auto;
  padding:20px;
  padding-bottom: 50px;
}
.principal {
  background-color: rgba(63, 66, 63, 0.47);
}
.black {
  background-color: #202225;
  color:white;
}
.black input {
  /*background-color: grey;*/
  border-color: black;
  /*color: white;*/
  padding:2px 0 2px 5px;
}
.black #percentagem {
  margin-right: 5px;
}
.black .container {
  background-color: grey;
}
.black .conteudo {
  background-color: grey;
}
.black .caixa {
  background-color: grey;
}
.conteudo {
    margin: 10px; 
}

.caixa {
  display: flex;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.conteudo span {
  display: block;
  margin-bottom: 5px;
}

.input[type=number] {
  height: 100px;
  width: 100px;
}

.final {
  margin:10px;
}
.final button {
  margin-top:10px;
}
.final span {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}
